.WelcomeComponent {
  text-align: center;
  margin: 0;
  padding: 10px 10px 0 10px;
  color: #ffca82;
}
.WelcomeComponent h1 {
  margin-bottom: 0;
}
.WelcomeComponent h3 {
  margin-top: 0;
  margin-bottom: 0;
}
