.todo_search {
  background: #06111de7;
  border-radius: 5px;
  border: 2px solid #1c374b;
  margin: 0 24px;
  height: 50px;
  width: calc(100% - 62px);
  font-size: 24px;
  text-align: center;
  font-family: "Zen Kaku Gothic Antique";
  font-weight: 400;
  color: whitesmoke;
  box-shadow: 0px 5px 50px #1c374b3b;
}

.todo_search::placeholder {
  color: whitesmoke;
  font-family: "Zen Kaku Gothic Antique";
  font-weight: 400;
}

.todo_search:focus {
  outline-color: #61dafa;
}
.todo_search:disabled {
  opacity: 60%;
}
